body {
  margin: 0;
  font-family: sans-serif;
  background: #f9f9f9;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

